<html >
{%load static%}
<head>
	<link rel = "stylesheet"
   type = "text/css"
   href = "{% static 'bootstrap.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Proxima+Nova" rel="stylesheet">
	<style>
		#Gallery{
			color:black;
			border-radius:50px;
			background-color:white;
			width:360px;
			font-size: 33px;
			font-family: Proxima Nova;
			text-align: center;
			padding-top:15px; 
			padding-bottom:15px;
			position:relative;
			left:460px;
			top:50px;

		}
		div{
			width:1000px;

		}
		#rumah{
			position:relative;
			bottom:30px;
			left: 75px;

		}
		#quote{
			position:relative;
			left:445px;
			bottom:370px;
			color:white;
			width:500px;
		}
		#title{
			font-family: Proxima Nova;
			font-size:40px;
			position:relative;
			left: 445px;
			bottom:360px;
			color:#95989c;
			width:300px;
		}
		#player{
			position:relative;
			left:80px;
		}
		#bill{
			position:relative;
			left:660px;
			bottom:70px;
		}
		#div2{
			height:350px;
		}

	</style>
	<title> Music Gallery </title>
</head>
<body style="background-color:black;max-height:100%">

<div>
<p style="" id="Gallery"> <b> Music Gallery </b> </p>

<a href="{% url 'home:index' %}"><img src="{% static 'images/home.jpg' %}" alt='rumah' id="rumah" height="50" width="50"></a>
</div>

<div id="div2"> 
	<iframe src="https://open.spotify.com/embed/playlist/4genODmrARTmzkuGSjYLId" width="300" height="280" frameborder="0" allowtransparency="true" allow="encrypted-media" id="player"></iframe>

	<img src="{% static 'images/bill e.jpg' %}" alt="bill-evans" width="280" height="400" id="bill">
	<p id="title"> <b> Bill Evans </b> </p>
	<p id="quote"> was an American jazz pianist and composer who mostly <br> played in trios. His use of impressionist harmony, inventive <br> interpretation of traditional jazz repertoire, block chords, and <br>trademark rhythmically independent, "singing" melodic <br>lines continue to influence jazz pianists today.  </p>
</div>

</body>
</html>
