html{
	scroll-behavior:smooth;
}

.navbar {
	background-color: #182c39;
    border-color: rgb(51, 17, 0);
	border-color: rgba(51, 17, 0, 0.2);
	font-family: ;
	font-weight: 700;
	padding: 15px 0;
	transition: padding .5s;
}


.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
	color: #ffc266;
	transition: color 1s;
}

.navbar .navbar-nav {
	padding-right: 50px;
}


.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus:hover {
	color: #ffc266;
	transition: color 1s; 
}


.navbar .navbar-nav > li.active > a:hover,
.navbar .navbar-nav > li.active > a:focus:hover {
	background-color: transparent;
}

.navbar.scrolled {
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	padding: 5px 0;
	opacity: 0.9;
}

h1{
	text-align:center;
	font-family: Proxima Nova;
	font-size: 42px;
	color:black;
}

#nav1{
	transition: top 0.3s;
}
#about-title{
	color:white;
	position:relative;
	left:260px;
	top:80px;
	font-size:31px;
	width:200px;
	font-family:Fira Sans;
}
#about-msg{
	color:white;
	line-height: 150%;
	position:relative;
	left:200px;
	top:110px;
	font-size:28px;
	width:300px;
	font-family:Fira Sans;
}

#skills{
	position:relative;
	top:190px;
	padding-top:10px;
	}
#education{
	position:relative;
	top:30px;
	padding-top:10px;
}
#schedule{
	position:relative;
	top:220px;
	padding-top:10px;
}
#view-gallery{
	position:relative;
	left:390px; 
	bottom:110px;
	background-color:white;
	border-radius:50px;
	padding:20px;
	font-family:Proxima Nova;
	font-size:18px;
	color:black;
}
@media screen and (max-width:)